.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .header-buttons,
  .user-info {
    flex-direction: column;
    align-items: flex-start;
  }
}

.app-container {
  font-family: Georgia, sans-serif;
}

header {
  display: flex;
  justify-content: start;
  background-color: #f4f4f4;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;  /* 固定位置 */
  top: 0;           /* 定位到页面顶部 */
  width: 100%;      /* 让header横跨整个页面宽度 */
  z-index: 1000;
}

header button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

header button:hover {
  background-color: #45a049;
  transform: translateY(-5px);
}

main {
  padding: 20px;
  margin-top: 60px;
}

.user-info {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center; /* 垂直居中 */
}

.user-info span {
  margin-right: 10px;
  cursor: pointer; /* 在文本和按钮之间添加空间 */
}

/* App.css */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: url('./resources/beforLogin.jpg') no-repeat center center;
  background-size: 40%;
  position: relative;
   font-family: Georgia;
}

.login-reminder {
  margin-bottom: 20px;
  font-size: 18px;
 color: #4c7caf;

}
.login-reminder-container{
  background-color: rgba(255, 255, 255, 0.8);
  height: 45px;
  width: auto;
}

.login-button {
  background-color: #544caf;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #45a049;
}
.tuimg{
  width: 100%;
  height: auto;

}



